*{
    margin: o;
    padding: 0;
}
#home{
display: flex;
flex-direction: column;
align-items: center;
}
.background{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
body header{
    background-color: rgb(158, 229, 241)
}
body header nav div img{
    width: 75px;
}
h1 {
    margin: 25px;
    text-align: center;
    padding: 25px;
    font-family: serif;
}

h2, h3{
text-align: center;
padding: 25px;
margin: 25px;
font-family: serif;
}

.quienes-somos{
    display: flex;
flex-direction: column;
align-items: center;
}

.quienes-somos-container{
    height: 70%;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.671);
}
.quienes-somos p{
text-align: center;
margin: 25px;

}
div.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card{
    width: 18rem;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}
div.card p{

}
div.card img{
    height: 40%;
}

div.galery-container{
    display: flex;
    gap: 20px;
    width: 85%;
}
div.galery-img-container img{
    width: 100%;
    margin: 25px;
    padding: 10px;
    border-radius: 3px;
    border: 1px black solid;
}
footer{
    text-align: center;
    background-color: rgb(41, 41, 41);
    color: white;
}